<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= headline %></h2>    
    <ul>
        <li>
           Id: <%= booking.id %>
        </li>
        <li>
           Vorname: <%= booking.name %>
        </li>
        <li>
           Nachname: <%= booking.surname %>
        </li>
        <li>
           Zimmernummer: <%= booking.roomNumber %>
        </li>
    </ul>

</body>
</html>