<!DOCTYPE html>
<html lang="en">
<head>
    <%- await include (Deno.cwd() + '/Views/head.ejs'); %>
</head>
<body> 
    <h1><%= product.productName %> </h1>
    <%- await include (Deno.cwd() + '/Views/shopCartBtn.ejs'); %>
    <fieldset class="container">
        <img src="<%= Deno.cwd() + '/assets/' + product.imageName; %>" style="text-align: center;" width="250" height="250"> 
        <ul>
            <li>
               <p style="font: bold;color:red;">ANGEBOT!: <%= product.specialOffer %>CHF --Nur noch für 2 Tage erhältlich!</p>
            </li>
            <li>
               Normaler Preis: <del><%= product.normalPrice %></del>
            </li>
            <li>
                <%= product.description %>
            </li>
        </ul>
        <form action="/home" method="post">
            <input type="number" name="productID" value="<%= product.id %>" hidden>
            <input type="number" name="amount" placeholder="0" required value="1">
            <button>Add to Cart</button>
        </form>
        <form action="/" method="get">
            <button style="float: left;">Back to home</button>
        </form>
    </fieldset>
     
</body>
</html>