<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.css">
    <script src="bootstrap/js/bootstrap.js"></script>
    <title>Document</title>
</head>
<body>
    <h1><%= product.productName %> </h1><br><br>
    <img src="/assets/<%= product.imageName %>" width="150" height="150">
    <ul>
        <li>
           Produkt: <%= product.productName %>
        </li>
        <li>
           <p style="font: bold;color:red;">ANGEBOT!: <%= product.specialOffer %>CHF --Nur noch für 2 Tage erhältlich!</p>
        </li>
        <li>
           Normaler Preis: <del><%= product.normalPrice %></del>
        </li>
        <li>
            <%= product.description %>
        </li>
    </ul>
    <form action="/" method="get">
        <button style="float: left; border: solid black; margin: 5%;">Back to home</button>
    </form> 
</body>
</html>