<!DOCTYPE html>
<html lang="en">
<head>
    <%- await include (Deno.cwd() + '/Views/head.ejs'); %>
    <style>
        .columns {
            border: 1px black solid;
            background-color: white;
            padding: 0px;
            column-count: 3;      
            column-gap: 0px;
            column-rule: 1px solid lightgrey;
        }
    </style>   
</head>
<body>
    <h1>Dorfladen BBZW</h1>
    <%- await include (Deno.cwd() + '/Views/shopCartBtn.ejs'); %>
        <div class="columns"class="container">
            <% for(let i=0;i<list.length;i++){ %><br><br>
                <form action="/detail/<%= list[i].id %>" method="get">
                    <button type="submit">
                        <img src="assets/<%= list[i].imageName %>" width="200" height="200"><br>
                        <p><%= list[i].productName %></p><br><br>
                    </button>
                </form>
                <% } %> 
        </div>  
<br><br>
</body>
</html>