<!DOCTYPE html>
<html lang="en">
<head>
    <%- await include (Deno.cwd() + '/Views/head.ejs'); %>
</head>
<body>
    <h1>Shopping Cart</h1>
    <fieldset class="container">
        <table>
            <tr>
                <th>Produkt&nbsp;</th>
                <th>Anzahl&nbsp;</th>
                <th>Einzelpreis&nbsp;</th>
                <th>Gesamtpreis&nbsp;</th>
                <th></th>
                <th></th>
            </tr>
            <% let totalprice = 0; %> 
            <% for(let i = 0;i<list.length;i++) { %>
                <tr style="text-align: center;">
                    <% if(amount[i] != 0 ){ %>
                        <td><%= list[i].productName %></td>
                        <td><%= amount[i] %></td>
                        <td><%= (list[i].specialOffer).toFixed(2) %> CHF</td>
                        <td><%= (list[i].specialOffer * amount[i]).toFixed(2); %> CHF</td>
                        <% totalprice += list[i].specialOffer * amount[i] %>
                        <td> 
                        <form action="/add/<%= list[i].id %>" method="post">
                            <button name="plus">+1</button>
                        </form>
                        </td>
                        <td>
                        <form action="/remove/<%= list[i].id %>" method="post">
                        <button name="minus">-1</button>
                    </form>
                </td>
                </tr>
                    <% } %>
                <% } %>
                <tr>
                    <th>Total Price:</th>
                    <td></td>
                    <td>In Schweizer</td>
                    <td>Franken</td>
                    <td></td>
                    <% totalprice = totalprice.toFixed(2) %> 
                    <th><%= totalprice %> </th>
                </tr>
        </table>
    </fieldset>
<form action="/home" method="get">
    <button style="float: left;">Zurück zur Startseite</button>
</form>

<form action="/payfor" method="post">
    <input type="number" name="totalprice" hidden value="<%= totalprice %>">
    <button style="float: right;">Weiter zum Kaufbildschirm</button>
</form>
</body>
</html>